In [1]:
import sys, os
import pandas as pd
import numpy as np
from datetime import timedelta
import datetime
from ggplot import *

In [2]:
tidy_fin = pd.read_csv("tidy_data_with_demoinfo.csv")

In [3]:
tidy_fin = tidy_fin.drop('Unnamed: 0', axis=1)

In [4]:
tidy_fin

,기간,일자,ID,성별,연령,직업,학력,소득,방송사,시청시작시간,시청종료시간,프로그램시청시간,프로그램명,프로그램편성시작시간,프로그램편성종료시간,대분류,반복,시청시간
0,T1,20150817,1401639aa,1,63,1,7,7,O’live,2015-08-17 07:56:00,2015-08-17 08:08:59,780,신동엽성시경은오늘뭐먹지,2015-08-17 07:43:46,2015-08-17 08:12:47,정보,False,0 days 00:13:00.000000000
1,T1,20150817,1401639aa,1,63,1,7,7,KBS1,2015-08-17 08:09:00,2015-08-17 08:23:59,883,인간극장,2015-08-17 07:50:06,2015-08-17 08:23:42,정보,False,0 days 00:14:43.000000000
2,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 08:24:00,2015-08-17 08:34:59,660,KBS8아침뉴스타임,2015-08-17 07:57:38,2015-08-17 08:55:04,보도,False,0 days 00:11:00.000000000
3,T1,20150817,1401639aa,1,63,1,7,7,O’live,2015-08-17 08:35:00,2015-08-17 08:37:59,180,노오븐디저트,2015-08-17 08:18:14,2015-08-17 08:47:53,정보,False,0 days 00:03:00.000000000
4,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 08:38:00,2015-08-17 08:38:59,60,KBS8아침뉴스타임,2015-08-17 07:57:38,2015-08-17 08:55:04,보도,False,0 days 00:01:00.000000000
5,T1,20150817,1401639aa,1,63,1,7,7,O’live,2015-08-17 08:39:00,2015-08-17 08:41:59,180,노오븐디저트,2015-08-17 08:18:14,2015-08-17 08:47:53,정보,False,0 days 00:03:00.000000000
6,T1,20150817,1401639aa,1,63,1,7,7,연합뉴스TV,2015-08-17 08:42:00,2015-08-17 08:52:59,234,라이브투데이1부,2015-08-17 07:54:35,2015-08-17 08:45:53,보도,True,0 days 00:03:54.000000000
7,T1,20150817,1401639aa,1,63,1,7,7,연합뉴스TV,2015-08-17 08:42:00,2015-08-17 08:52:59,197,라이브투데이2부,2015-08-17 08:49:43,2015-08-17 09:42:01,보도,True,0 days 00:03:17.000000000
8,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 08:53:00,2015-08-17 09:05:59,780,마지막황제,2015-08-17 08:39:27,2015-08-17 09:32:36,드라마&영화,False,0 days 00:13:00.000000000
9,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 09:30:00,2015-08-17 09:30:59,60,TV소설(그래도푸르른날에),2015-08-17 08:58:51,2015-08-17 09:38:55,드라마&영화,False,0 days 00:01:00.000000000
10,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 09:31:00,2015-08-17 09:32:59,97,마지막황제,2015-08-17 08:39:27,2015-08-17 09:32:36,드라마&영화,False,0 days 00:01:37.000000000
11,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 09:33:00,2015-08-17 09:35:59,180,TV소설(그래도푸르른날에),2015-08-17 08:58:51,2015-08-17 09:38:55,드라마&영화,False,0 days 00:03:00.000000000
12,T1,20150817,1401639aa,1,63,1,7,7,OBS,2015-08-17 11:47:00,2015-08-17 11:57:59,660,OBS뉴스경인투데이,2015-08-17 11:45:55,2015-08-17 12:02:19,보도,False,0 days 00:11:00.000000000
13,T1,20150817,1401639aa,1,63,1,7,7,연합뉴스TV,2015-08-17 11:58:00,2015-08-17 11:59:59,120,뉴스12,2015-08-17 11:45:17,2015-08-17 12:41:16,보도,False,0 days 00:02:00.000000000
14,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 12:00:00,2015-08-17 12:01:59,120,삼국지,2015-08-17 11:38:04,2015-08-17 12:34:33,드라마&영화,False,0 days 00:02:00.000000000
15,T1,20150817,1401639aa,1,63,1,7,7,KBS1,2015-08-17 12:02:00,2015-08-17 12:02:59,60,KBS뉴스12,2015-08-17 11:59:48,2015-08-17 12:59:17,보도,False,0 days 00:01:00.000000000
16,T1,20150817,1401639aa,1,63,1,7,7,O’live,2015-08-17 12:05:00,2015-08-17 12:05:59,60,신동엽성시경은오늘뭐먹지,2015-08-17 11:59:26,2015-08-17 12:58:53,정보,False,0 days 00:01:00.000000000
17,T1,20150817,1401639aa,1,63,1,7,7,KBS1,2015-08-17 12:08:00,2015-08-17 12:09:59,120,KBS뉴스12,2015-08-17 11:59:48,2015-08-17 12:59:17,보도,False,0 days 00:02:00.000000000
18,T1,20150817,1401639aa,1,63,1,7,7,MBC드라마넷,2015-08-17 12:10:00,2015-08-17 12:21:59,720,이브의사랑,2015-08-17 12:05:03,2015-08-17 13:20:12,드라마&영화,False,0 days 00:12:00.000000000
19,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 12:22:00,2015-08-17 12:23:59,120,걸어서세계속으로<재>,2015-08-17 12:02:21,2015-08-17 12:51:16,정보,False,0 days 00:02:00.000000000
20,T1,20150817,1401639aa,1,63,1,7,7,MBC드라마넷,2015-08-17 12:37:00,2015-08-17 12:41:59,300,이브의사랑,2015-08-17 12:05:03,2015-08-17 13:20:12,드라마&영화,False,0 days 00:05:00.000000000
21,T1,20150817,1401639aa,1,63,1,7,7,KBS1,2015-08-17 12:42:00,2015-08-17 12:43:59,120,KBS뉴스12,2015-08-17 11:59:48,2015-08-17 12:59:17,보도,False,0 days 00:02:00.000000000
22,T1,20150817,1401639aa,1,63,1,7,7,OnStyle,2015-08-17 12:44:00,2015-08-17 12:56:59,780,채널소시,2015-08-17 12:19:17,2015-08-17 13:15:13,오락,False,0 days 00:13:00.000000000
23,T1,20150817,1401639aa,1,63,1,7,7,OBS,2015-08-17 12:57:00,2015-08-17 12:59:59,180,연예매거진좋은일나쁜일수상한일<재>,2015-08-17 12:06:48,2015-08-17 13:01:37,오락,False,0 days 00:03:00.000000000
24,T1,20150817,1401639aa,1,63,1,7,7,MBC드라마넷,2015-08-17 13:00:00,2015-08-17 13:04:59,300,이브의사랑,2015-08-17 12:05:03,2015-08-17 13:20:12,드라마&영화,False,0 days 00:05:00.000000000
25,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 13:05:00,2015-08-17 13:07:59,180,연개소문,2015-08-17 12:41:23,2015-08-17 13:51:28,드라마&영화,False,0 days 00:03:00.000000000
26,T1,20150817,1401639aa,1,63,1,7,7,MBC드라마넷,2015-08-17 13:08:00,2015-08-17 13:10:59,180,이브의사랑,2015-08-17 12:05:03,2015-08-17 13:20:12,드라마&영화,False,0 days 00:03:00.000000000
27,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 13:14:00,2015-08-17 13:15:59,120,시간을달리는TV<재>,2015-08-17 12:56:37,2015-08-17 13:54:25,정보,False,0 days 00:02:00.000000000
28,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 13:16:00,2015-08-17 13:18:59,180,연개소문,2015-08-17 12:41:23,2015-08-17 13:51:28,드라마&영화,False,0 days 00:03:00.000000000
29,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 13:22:00,2015-08-17 13:23:59,120,연개소문,2015-08-17 12:41:23,2015-08-17 13:51:28,드라마&영화,False,0 days 00:02:00.000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2924527,T4,20170122,2404345ab,2,56,6,7,7,SBS Sports,2017-01-22 09:10:00,2017-01-22 10:14:59,2898,2016/2017잉글리시프리미어리그,2017-01-22 08:04:26,2017-01-22 09:58:17,스포츠,True,0 days 00:48:18.000000000
2924528,T4,20170122,2404345ab,2,56,6,7,7,SBS Sports,2017-01-22 09:10:00,2017-01-22 10:14:59,714,2016/2017IBSF월드컵,2017-01-22 10:03:06,2017-01-22 11:45:39,스포츠,True,0 days 00:11:54.000000000
2924529,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 10:15:00,2017-01-22 10:34:59,1200,2017유러피언투어아부다비HSBC챔피언십,2017-01-22 09:48:05,2017-01-22 12:57:53,스포츠,False,0 days 00:20:00.000000000
2924530,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 13:08:00,2017-01-22 13:32:59,1500,2017아시안투어SMBC싱가포르오픈<생>,2017-01-22 13:00:34,2017-01-22 16:17:45,스포츠,False,0 days 00:25:00.000000000
2924531,T4,20170122,2404345ab,2,56,6,7,7,EBS,2017-01-22 13:33:00,2017-01-22 14:21:59,2429,명의<재>,2017-01-22 13:23:09,2017-01-22 14:13:28,정보,True,0 days 00:40:29.000000000
2924532,T4,20170122,2404345ab,2,56,6,7,7,EBS,2017-01-22 13:33:00,2017-01-22 14:21:59,391,일요시네마(네번의결혼식과한번의장례식),2017-01-22 14:15:29,2017-01-22 16:16:43,드라마&영화,True,0 days 00:06:31.000000000
2924533,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 14:22:00,2017-01-22 15:40:59,4740,2017아시안투어SMBC싱가포르오픈<생>,2017-01-22 13:00:34,2017-01-22 16:17:45,스포츠,False,0 days 01:19:00.000000000
2924534,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 15:41:00,2017-01-22 15:45:59,300,2017아시안투어SMBC싱가포르오픈<생>,2017-01-22 13:00:34,2017-01-22 16:17:45,스포츠,False,0 days 00:05:00.000000000
2924535,T4,20170122,2404345ab,2,56,6,7,7,SPOTV,2017-01-22 15:46:00,2017-01-22 15:54:59,540,UFC,2017-01-22 15:25:13,2017-01-22 18:47:05,스포츠,False,0 days 00:09:00.000000000
2924536,T4,20170122,2404345ab,2,56,6,7,7,MBN,2017-01-22 15:55:00,2017-01-22 16:00:59,360,아궁이<재>,2017-01-22 15:17:25,2017-01-22 16:32:09,오락,False,0 days 00:06:00.000000000
2924537,T4,20170122,2404345ab,2,56,6,7,7,skyTravel,2017-01-22 16:01:00,2017-01-22 16:01:59,60,BBC플래닛어스,2017-01-22 15:35:55,2017-01-22 16:35:49,정보,False,0 days 00:01:00.000000000
2924538,T4,20170122,2404345ab,2,56,6,7,7,KBS2,2017-01-22 16:02:00,2017-01-22 16:16:59,900,주말연속극(월계수양복점신사들<재>),2017-01-22 15:28:12,2017-01-22 16:43:04,드라마&영화,False,0 days 00:15:00.000000000
2924539,T4,20170122,2404345ab,2,56,6,7,7,skyTravel,2017-01-22 16:17:00,2017-01-22 16:17:59,60,BBC플래닛어스,2017-01-22 15:35:55,2017-01-22 16:35:49,정보,False,0 days 00:01:00.000000000
2924540,T4,20170122,2404345ab,2,56,6,7,7,EBS,2017-01-22 16:18:00,2017-01-22 16:24:59,420,줄리아드사람들,2017-01-22 16:17:33,2017-01-22 16:46:00,정보,False,0 days 00:07:00.000000000
2924541,T4,20170122,2404345ab,2,56,6,7,7,JTBC,2017-01-22 16:25:00,2017-01-22 17:09:59,2700,팬텀싱어<재>,2017-01-22 15:23:37,2017-01-22 17:21:03,오락,False,0 days 00:45:00.000000000
2924542,T4,20170122,2404345ab,2,56,6,7,7,MBN,2017-01-22 17:10:00,2017-01-22 17:12:59,180,시사스페셜,2017-01-22 16:36:22,2017-01-22 17:47:45,보도,False,0 days 00:03:00.000000000
2924543,T4,20170122,2404345ab,2,56,6,7,7,TV조선,2017-01-22 17:13:00,2017-01-22 17:14:59,120,TV조선뉴스현장,2017-01-22 16:20:03,2017-01-22 17:44:41,보도,False,0 days 00:02:00.000000000
2924544,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 17:15:00,2017-01-22 17:15:59,45,2017유러피언투어아부다비HSBC챔피언십<생>,2017-01-22 17:15:15,2017-01-22 22:03:49,스포츠,False,0 days 00:00:45.000000000
2924545,T4,20170122,2404345ab,2,56,6,7,7,TV조선,2017-01-22 17:16:00,2017-01-22 17:35:59,1200,TV조선뉴스현장,2017-01-22 16:20:03,2017-01-22 17:44:41,보도,False,0 days 00:20:00.000000000
2924546,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 17:36:00,2017-01-22 21:29:59,14040,2017유러피언투어아부다비HSBC챔피언십<생>,2017-01-22 17:15:15,2017-01-22 22:03:49,스포츠,False,0 days 03:54:00.000000000
2924547,T4,20170122,2404345ab,2,56,6,7,7,KBS1,2017-01-22 21:30:00,2017-01-22 21:31:59,120,KBS뉴스9,2017-01-22 21:00:00,2017-01-22 21:40:39,보도,False,0 days 00:02:00.000000000
2924548,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 21:32:00,2017-01-22 21:38:59,420,2017유러피언투어아부다비HSBC챔피언십<생>,2017-01-22 17:15:15,2017-01-22 22:03:49,스포츠,False,0 days 00:07:00.000000000
2924549,T4,20170122,2404345ab,2,56,6,7,7,KBS1,2017-01-22 21:39:00,2017-01-22 21:40:59,100,KBS뉴스9,2017-01-22 21:00:00,2017-01-22 21:40:39,보도,False,0 days 00:01:40.000000000
2924550,T4,20170122,2404345ab,2,56,6,7,7,SBS,2017-01-22 21:41:00,2017-01-22 23:05:59,1443,K팝스타더라스트찬스,2017-01-22 21:09:55,2017-01-22 22:05:02,오락,True,0 days 00:24:03.000000000
2924551,T4,20170122,2404345ab,2,56,6,7,7,SBS,2017-01-22 21:41:00,2017-01-22 23:05:59,3657,K팝스타더라스트찬스,2017-01-22 22:05:03,2017-01-22 23:14:21,오락,True,0 days 01:00:57.000000000
2924552,T4,20170122,2404345ab,2,56,6,7,7,채널A,2017-01-22 23:06:00,2017-01-22 23:12:59,420,이제만나러갑니다,2017-01-22 22:54:38,2017-01-23 00:29:28,오락,False,0 days 00:07:00.000000000
2924553,T4,20170122,2404345ab,2,56,6,7,7,OBS,2017-01-22 23:13:00,2017-01-22 23:14:59,120,OBS시네마(모스트원티드맨),2017-01-22 22:07:41,2017-01-23 00:10:05,드라마&영화,False,0 days 00:02:00.000000000
2924554,T4,20170122,2404345ab,2,56,6,7,7,채널A,2017-01-22 23:15:00,2017-01-22 23:15:59,60,이제만나러갑니다,2017-01-22 22:54:38,2017-01-23 00:29:28,오락,False,0 days 00:01:00.000000000
2924555,T4,20170122,2404345ab,2,56,6,7,7,OBS,2017-01-22 23:16:00,2017-01-22 23:17:59,120,OBS시네마(모스트원티드맨),2017-01-22 22:07:41,2017-01-23 00:10:05,드라마&영화,False,0 days 00:02:00.000000000
2924556,T4,20170122,2404345ab,2,56,6,7,7,채널A,2017-01-22 23:18:00,2017-01-22 23:19:59,120,이제만나러갑니다,2017-01-22 22:54:38,2017-01-23 00:29:28,오락,False,0 days 00:02:00.000000000

# 1. 최소시청시간 10분 설정
최소시청시간 10분에 맞추어 새롭게 T/F 컬럼을 만들어본다.


정우가 시청 기준에 맞는 T/F 컬럼을 줄테니 일단 코드를 짜기 위해 10분 기준으로 T/F 컬럼을 만들자

In [5]:
# 컬럼 생성 1. 주차 구분: for 문 활용
won = []

for row in tidy_fin['프로그램시청시간']:
    if row >= 600:
        won.append(True)
    else:
        won.append(False)

In [6]:
tidy_fin['WorN'] = won

In [7]:
tidy_fin

,기간,일자,ID,성별,연령,직업,학력,소득,방송사,시청시작시간,시청종료시간,프로그램시청시간,프로그램명,프로그램편성시작시간,프로그램편성종료시간,대분류,반복,시청시간,WorN
0,T1,20150817,1401639aa,1,63,1,7,7,O’live,2015-08-17 07:56:00,2015-08-17 08:08:59,780,신동엽성시경은오늘뭐먹지,2015-08-17 07:43:46,2015-08-17 08:12:47,정보,False,0 days 00:13:00.000000000,True
1,T1,20150817,1401639aa,1,63,1,7,7,KBS1,2015-08-17 08:09:00,2015-08-17 08:23:59,883,인간극장,2015-08-17 07:50:06,2015-08-17 08:23:42,정보,False,0 days 00:14:43.000000000,True
2,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 08:24:00,2015-08-17 08:34:59,660,KBS8아침뉴스타임,2015-08-17 07:57:38,2015-08-17 08:55:04,보도,False,0 days 00:11:00.000000000,True
3,T1,20150817,1401639aa,1,63,1,7,7,O’live,2015-08-17 08:35:00,2015-08-17 08:37:59,180,노오븐디저트,2015-08-17 08:18:14,2015-08-17 08:47:53,정보,False,0 days 00:03:00.000000000,False
4,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 08:38:00,2015-08-17 08:38:59,60,KBS8아침뉴스타임,2015-08-17 07:57:38,2015-08-17 08:55:04,보도,False,0 days 00:01:00.000000000,False
5,T1,20150817,1401639aa,1,63,1,7,7,O’live,2015-08-17 08:39:00,2015-08-17 08:41:59,180,노오븐디저트,2015-08-17 08:18:14,2015-08-17 08:47:53,정보,False,0 days 00:03:00.000000000,False
6,T1,20150817,1401639aa,1,63,1,7,7,연합뉴스TV,2015-08-17 08:42:00,2015-08-17 08:52:59,234,라이브투데이1부,2015-08-17 07:54:35,2015-08-17 08:45:53,보도,True,0 days 00:03:54.000000000,False
7,T1,20150817,1401639aa,1,63,1,7,7,연합뉴스TV,2015-08-17 08:42:00,2015-08-17 08:52:59,197,라이브투데이2부,2015-08-17 08:49:43,2015-08-17 09:42:01,보도,True,0 days 00:03:17.000000000,False
8,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 08:53:00,2015-08-17 09:05:59,780,마지막황제,2015-08-17 08:39:27,2015-08-17 09:32:36,드라마&영화,False,0 days 00:13:00.000000000,True
9,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 09:30:00,2015-08-17 09:30:59,60,TV소설(그래도푸르른날에),2015-08-17 08:58:51,2015-08-17 09:38:55,드라마&영화,False,0 days 00:01:00.000000000,False
10,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 09:31:00,2015-08-17 09:32:59,97,마지막황제,2015-08-17 08:39:27,2015-08-17 09:32:36,드라마&영화,False,0 days 00:01:37.000000000,False
11,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 09:33:00,2015-08-17 09:35:59,180,TV소설(그래도푸르른날에),2015-08-17 08:58:51,2015-08-17 09:38:55,드라마&영화,False,0 days 00:03:00.000000000,False
12,T1,20150817,1401639aa,1,63,1,7,7,OBS,2015-08-17 11:47:00,2015-08-17 11:57:59,660,OBS뉴스경인투데이,2015-08-17 11:45:55,2015-08-17 12:02:19,보도,False,0 days 00:11:00.000000000,True
13,T1,20150817,1401639aa,1,63,1,7,7,연합뉴스TV,2015-08-17 11:58:00,2015-08-17 11:59:59,120,뉴스12,2015-08-17 11:45:17,2015-08-17 12:41:16,보도,False,0 days 00:02:00.000000000,False
14,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 12:00:00,2015-08-17 12:01:59,120,삼국지,2015-08-17 11:38:04,2015-08-17 12:34:33,드라마&영화,False,0 days 00:02:00.000000000,False
15,T1,20150817,1401639aa,1,63,1,7,7,KBS1,2015-08-17 12:02:00,2015-08-17 12:02:59,60,KBS뉴스12,2015-08-17 11:59:48,2015-08-17 12:59:17,보도,False,0 days 00:01:00.000000000,False
16,T1,20150817,1401639aa,1,63,1,7,7,O’live,2015-08-17 12:05:00,2015-08-17 12:05:59,60,신동엽성시경은오늘뭐먹지,2015-08-17 11:59:26,2015-08-17 12:58:53,정보,False,0 days 00:01:00.000000000,False
17,T1,20150817,1401639aa,1,63,1,7,7,KBS1,2015-08-17 12:08:00,2015-08-17 12:09:59,120,KBS뉴스12,2015-08-17 11:59:48,2015-08-17 12:59:17,보도,False,0 days 00:02:00.000000000,False
18,T1,20150817,1401639aa,1,63,1,7,7,MBC드라마넷,2015-08-17 12:10:00,2015-08-17 12:21:59,720,이브의사랑,2015-08-17 12:05:03,2015-08-17 13:20:12,드라마&영화,False,0 days 00:12:00.000000000,True
19,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 12:22:00,2015-08-17 12:23:59,120,걸어서세계속으로<재>,2015-08-17 12:02:21,2015-08-17 12:51:16,정보,False,0 days 00:02:00.000000000,False
20,T1,20150817,1401639aa,1,63,1,7,7,MBC드라마넷,2015-08-17 12:37:00,2015-08-17 12:41:59,300,이브의사랑,2015-08-17 12:05:03,2015-08-17 13:20:12,드라마&영화,False,0 days 00:05:00.000000000,False
21,T1,20150817,1401639aa,1,63,1,7,7,KBS1,2015-08-17 12:42:00,2015-08-17 12:43:59,120,KBS뉴스12,2015-08-17 11:59:48,2015-08-17 12:59:17,보도,False,0 days 00:02:00.000000000,False
22,T1,20150817,1401639aa,1,63,1,7,7,OnStyle,2015-08-17 12:44:00,2015-08-17 12:56:59,780,채널소시,2015-08-17 12:19:17,2015-08-17 13:15:13,오락,False,0 days 00:13:00.000000000,True
23,T1,20150817,1401639aa,1,63,1,7,7,OBS,2015-08-17 12:57:00,2015-08-17 12:59:59,180,연예매거진좋은일나쁜일수상한일<재>,2015-08-17 12:06:48,2015-08-17 13:01:37,오락,False,0 days 00:03:00.000000000,False
24,T1,20150817,1401639aa,1,63,1,7,7,MBC드라마넷,2015-08-17 13:00:00,2015-08-17 13:04:59,300,이브의사랑,2015-08-17 12:05:03,2015-08-17 13:20:12,드라마&영화,False,0 days 00:05:00.000000000,False
25,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 13:05:00,2015-08-17 13:07:59,180,연개소문,2015-08-17 12:41:23,2015-08-17 13:51:28,드라마&영화,False,0 days 00:03:00.000000000,False
26,T1,20150817,1401639aa,1,63,1,7,7,MBC드라마넷,2015-08-17 13:08:00,2015-08-17 13:10:59,180,이브의사랑,2015-08-17 12:05:03,2015-08-17 13:20:12,드라마&영화,False,0 days 00:03:00.000000000,False
27,T1,20150817,1401639aa,1,63,1,7,7,KBS2,2015-08-17 13:14:00,2015-08-17 13:15:59,120,시간을달리는TV<재>,2015-08-17 12:56:37,2015-08-17 13:54:25,정보,False,0 days 00:02:00.000000000,False
28,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 13:16:00,2015-08-17 13:18:59,180,연개소문,2015-08-17 12:41:23,2015-08-17 13:51:28,드라마&영화,False,0 days 00:03:00.000000000,False
29,T1,20150817,1401639aa,1,63,1,7,7,CHING(채널ING),2015-08-17 13:22:00,2015-08-17 13:23:59,120,연개소문,2015-08-17 12:41:23,2015-08-17 13:51:28,드라마&영화,False,0 days 00:02:00.000000000,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2924527,T4,20170122,2404345ab,2,56,6,7,7,SBS Sports,2017-01-22 09:10:00,2017-01-22 10:14:59,2898,2016/2017잉글리시프리미어리그,2017-01-22 08:04:26,2017-01-22 09:58:17,스포츠,True,0 days 00:48:18.000000000,True
2924528,T4,20170122,2404345ab,2,56,6,7,7,SBS Sports,2017-01-22 09:10:00,2017-01-22 10:14:59,714,2016/2017IBSF월드컵,2017-01-22 10:03:06,2017-01-22 11:45:39,스포츠,True,0 days 00:11:54.000000000,True
2924529,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 10:15:00,2017-01-22 10:34:59,1200,2017유러피언투어아부다비HSBC챔피언십,2017-01-22 09:48:05,2017-01-22 12:57:53,스포츠,False,0 days 00:20:00.000000000,True
2924530,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 13:08:00,2017-01-22 13:32:59,1500,2017아시안투어SMBC싱가포르오픈<생>,2017-01-22 13:00:34,2017-01-22 16:17:45,스포츠,False,0 days 00:25:00.000000000,True
2924531,T4,20170122,2404345ab,2,56,6,7,7,EBS,2017-01-22 13:33:00,2017-01-22 14:21:59,2429,명의<재>,2017-01-22 13:23:09,2017-01-22 14:13:28,정보,True,0 days 00:40:29.000000000,True
2924532,T4,20170122,2404345ab,2,56,6,7,7,EBS,2017-01-22 13:33:00,2017-01-22 14:21:59,391,일요시네마(네번의결혼식과한번의장례식),2017-01-22 14:15:29,2017-01-22 16:16:43,드라마&영화,True,0 days 00:06:31.000000000,False
2924533,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 14:22:00,2017-01-22 15:40:59,4740,2017아시안투어SMBC싱가포르오픈<생>,2017-01-22 13:00:34,2017-01-22 16:17:45,스포츠,False,0 days 01:19:00.000000000,True
2924534,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 15:41:00,2017-01-22 15:45:59,300,2017아시안투어SMBC싱가포르오픈<생>,2017-01-22 13:00:34,2017-01-22 16:17:45,스포츠,False,0 days 00:05:00.000000000,False
2924535,T4,20170122,2404345ab,2,56,6,7,7,SPOTV,2017-01-22 15:46:00,2017-01-22 15:54:59,540,UFC,2017-01-22 15:25:13,2017-01-22 18:47:05,스포츠,False,0 days 00:09:00.000000000,False
2924536,T4,20170122,2404345ab,2,56,6,7,7,MBN,2017-01-22 15:55:00,2017-01-22 16:00:59,360,아궁이<재>,2017-01-22 15:17:25,2017-01-22 16:32:09,오락,False,0 days 00:06:00.000000000,False
2924537,T4,20170122,2404345ab,2,56,6,7,7,skyTravel,2017-01-22 16:01:00,2017-01-22 16:01:59,60,BBC플래닛어스,2017-01-22 15:35:55,2017-01-22 16:35:49,정보,False,0 days 00:01:00.000000000,False
2924538,T4,20170122,2404345ab,2,56,6,7,7,KBS2,2017-01-22 16:02:00,2017-01-22 16:16:59,900,주말연속극(월계수양복점신사들<재>),2017-01-22 15:28:12,2017-01-22 16:43:04,드라마&영화,False,0 days 00:15:00.000000000,True
2924539,T4,20170122,2404345ab,2,56,6,7,7,skyTravel,2017-01-22 16:17:00,2017-01-22 16:17:59,60,BBC플래닛어스,2017-01-22 15:35:55,2017-01-22 16:35:49,정보,False,0 days 00:01:00.000000000,False
2924540,T4,20170122,2404345ab,2,56,6,7,7,EBS,2017-01-22 16:18:00,2017-01-22 16:24:59,420,줄리아드사람들,2017-01-22 16:17:33,2017-01-22 16:46:00,정보,False,0 days 00:07:00.000000000,False
2924541,T4,20170122,2404345ab,2,56,6,7,7,JTBC,2017-01-22 16:25:00,2017-01-22 17:09:59,2700,팬텀싱어<재>,2017-01-22 15:23:37,2017-01-22 17:21:03,오락,False,0 days 00:45:00.000000000,True
2924542,T4,20170122,2404345ab,2,56,6,7,7,MBN,2017-01-22 17:10:00,2017-01-22 17:12:59,180,시사스페셜,2017-01-22 16:36:22,2017-01-22 17:47:45,보도,False,0 days 00:03:00.000000000,False
2924543,T4,20170122,2404345ab,2,56,6,7,7,TV조선,2017-01-22 17:13:00,2017-01-22 17:14:59,120,TV조선뉴스현장,2017-01-22 16:20:03,2017-01-22 17:44:41,보도,False,0 days 00:02:00.000000000,False
2924544,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 17:15:00,2017-01-22 17:15:59,45,2017유러피언투어아부다비HSBC챔피언십<생>,2017-01-22 17:15:15,2017-01-22 22:03:49,스포츠,False,0 days 00:00:45.000000000,False
2924545,T4,20170122,2404345ab,2,56,6,7,7,TV조선,2017-01-22 17:16:00,2017-01-22 17:35:59,1200,TV조선뉴스현장,2017-01-22 16:20:03,2017-01-22 17:44:41,보도,False,0 days 00:20:00.000000000,True
2924546,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 17:36:00,2017-01-22 21:29:59,14040,2017유러피언투어아부다비HSBC챔피언십<생>,2017-01-22 17:15:15,2017-01-22 22:03:49,스포츠,False,0 days 03:54:00.000000000,True
2924547,T4,20170122,2404345ab,2,56,6,7,7,KBS1,2017-01-22 21:30:00,2017-01-22 21:31:59,120,KBS뉴스9,2017-01-22 21:00:00,2017-01-22 21:40:39,보도,False,0 days 00:02:00.000000000,False
2924548,T4,20170122,2404345ab,2,56,6,7,7,JTBC GOLF,2017-01-22 21:32:00,2017-01-22 21:38:59,420,2017유러피언투어아부다비HSBC챔피언십<생>,2017-01-22 17:15:15,2017-01-22 22:03:49,스포츠,False,0 days 00:07:00.000000000,False
2924549,T4,20170122,2404345ab,2,56,6,7,7,KBS1,2017-01-22 21:39:00,2017-01-22 21:40:59,100,KBS뉴스9,2017-01-22 21:00:00,2017-01-22 21:40:39,보도,False,0 days 00:01:40.000000000,False
2924550,T4,20170122,2404345ab,2,56,6,7,7,SBS,2017-01-22 21:41:00,2017-01-22 23:05:59,1443,K팝스타더라스트찬스,2017-01-22 21:09:55,2017-01-22 22:05:02,오락,True,0 days 00:24:03.000000000,True
2924551,T4,20170122,2404345ab,2,56,6,7,7,SBS,2017-01-22 21:41:00,2017-01-22 23:05:59,3657,K팝스타더라스트찬스,2017-01-22 22:05:03,2017-01-22 23:14:21,오락,True,0 days 01:00:57.000000000,True
2924552,T4,20170122,2404345ab,2,56,6,7,7,채널A,2017-01-22 23:06:00,2017-01-22 23:12:59,420,이제만나러갑니다,2017-01-22 22:54:38,2017-01-23 00:29:28,오락,False,0 days 00:07:00.000000000,False
2924553,T4,20170122,2404345ab,2,56,6,7,7,OBS,2017-01-22 23:13:00,2017-01-22 23:14:59,120,OBS시네마(모스트원티드맨),2017-01-22 22:07:41,2017-01-23 00:10:05,드라마&영화,False,0 days 00:02:00.000000000,False
2924554,T4,20170122,2404345ab,2,56,6,7,7,채널A,2017-01-22 23:15:00,2017-01-22 23:15:59,60,이제만나러갑니다,2017-01-22 22:54:38,2017-01-23 00:29:28,오락,False,0 days 00:01:00.000000000,False
2924555,T4,20170122,2404345ab,2,56,6,7,7,OBS,2017-01-22 23:16:00,2017-01-22 23:17:59,120,OBS시네마(모스트원티드맨),2017-01-22 22:07:41,2017-01-23 00:10:05,드라마&영화,False,0 days 00:02:00.000000000,False
2924556,T4,20170122,2404345ab,2,56,6,7,7,채널A,2017-01-22 23:18:00,2017-01-22 23:19:59,120,이제만나러갑니다,2017-01-22 22:54:38,2017-01-23 00:29:28,오락,False,0 days 00:02:00.000000000,False

# 개인 ID당 장르별 비율
##### 1. 우선 True 값만 다 모아보자

In [8]:
t_user = tidy_fin[tidy_fin['WorN'] == True]

In [9]:
t1 = t_user[t_user['기간'] == 'T1']
t2 = t_user[t_user['기간'] == 'T2']
t3 = t_user[t_user['기간'] == 'T3']
t4 = t_user[t_user['기간'] == 'T4']

##### 2. ID 별 장르 당 시청시간

In [10]:
# 1기
t_genre_1 = t1.groupby(['기간', 'ID', '대분류'])['프로그램시청시간'].sum().reset_index(name='장르시청')
# 2기
t_genre_2 = t2.groupby(['기간', 'ID', '대분류'])['프로그램시청시간'].sum().reset_index(name='장르시청')
# 3기
t_genre_3 = t3.groupby(['기간', 'ID', '대분류'])['프로그램시청시간'].sum().reset_index(name='장르시청')
# 4기
t_genre_4 = t4.groupby(['기간', 'ID', '대분류'])['프로그램시청시간'].sum().reset_index(name='장르시청')

##### 3. 장르별 총합을 구해서 맵핑

In [11]:
# 1기
t_sum_1 = t1.groupby(['ID'])['프로그램시청시간'].sum().reset_index(name='totv')
# 2기
t_sum_2 = t2.groupby(['ID'])['프로그램시청시간'].sum().reset_index(name='totv')
# 3기
t_sum_3 = t3.groupby(['ID'])['프로그램시청시간'].sum().reset_index(name='totv')
# 4기
t_sum_4 = t4.groupby(['ID'])['프로그램시청시간'].sum().reset_index(name='totv')

In [12]:
# merge & prop
# 1기
t_genre_01 = t_genre_1.merge(t_sum_1)
t_genre_01['prop'] = t_genre_01['장르시청'] / t_genre_01['totv'] * 100
t_genre_01 = t_genre_01.drop(['장르시청', 'totv'], axis=1)
# 2기
t_genre_02 = t_genre_2.merge(t_sum_2)
t_genre_02['prop'] = t_genre_02['장르시청'] / t_genre_02['totv'] * 100
t_genre_02 = t_genre_02.drop(['장르시청', 'totv'], axis=1)
# 3기
t_genre_03 = t_genre_3.merge(t_sum_3)
t_genre_03['prop'] = t_genre_03['장르시청'] / t_genre_03['totv'] * 100
t_genre_03 = t_genre_03.drop(['장르시청', 'totv'], axis=1)
# 4기
t_genre_04 = t_genre_4.merge(t_sum_4)
t_genre_04['prop'] = t_genre_04['장르시청'] / t_genre_04['totv'] * 100
t_genre_04 = t_genre_04.drop(['장르시청', 'totv'], axis=1)

In [13]:
t_genre_01

       기간         ID      대분류        prop
0      T1  1401639aa       교육    0.642313
1      T1  1401639aa       기타    0.211127
2      T1  1401639aa   드라마&영화   34.743914
3      T1  1401639aa       보도   12.592368
4      T1  1401639aa      스포츠    8.714670
5      T1  1401639aa  어린이(유아)    2.021134
6      T1  1401639aa       오락   26.720549
7      T1  1401639aa       정보   14.353925
8      T1  1401639ab       기타    0.197269
9      T1  1401639ab   드라마&영화   40.566112
10     T1  1401639ab       보도   13.831851
11     T1  1401639ab      스포츠    2.436526
12     T1  1401639ab  어린이(유아)    2.143910
13     T1  1401639ab       오락   28.722126
14     T1  1401639ab       정보   12.102206
15     T1  1401643aa   드라마&영화   31.015264
16     T1  1401643aa       보도   13.294794
17     T1  1401643aa      스포츠    4.468913
18     T1  1401643aa       오락   40.259309
19     T1  1401643aa       정보   10.961720
20     T1  1401646aa       교육    0.613905
21     T1  1401646aa   드라마&영화   21.401559
22     T1  1401646aa       보도   13.906372
23     T1  1401646aa      스포츠    4.980409
24     T1  1401646aa       오락   34.125175
25     T1  1401646aa       정보   24.972581
26     T1  1401646ab       교육    0.613905
27     T1  1401646ab   드라마&영화   21.401559
28     T1  1401646ab       보도   13.906372
29     T1  1401646ab      스포츠    4.980409
...    ..        ...      ...         ...
17350  T1  2403749ab   드라마&영화   42.837707
17351  T1  2403749ab       보도   26.232699
17352  T1  2403749ab      스포츠    2.315481
17353  T1  2403749ab       오락   20.664033
17354  T1  2403749ab       정보    7.950080
17355  T1  2403751aa   드라마&영화   30.019727
17356  T1  2403751aa       보도   33.349360
17357  T1  2403751aa      스포츠    1.230317
17358  T1  2403751aa  어린이(유아)   12.564786
17359  T1  2403751aa       오락    5.684205
17360  T1  2403751aa       정보   17.151605
17361  T1  2403751ab   드라마&영화   25.809353
17362  T1  2403751ab       보도   24.808076
17363  T1  2403751ab  어린이(유아)   35.721952
17364  T1  2403751ab       오락   10.532584
17365  T1  2403751ab       정보    3.128035
17366  T1  2403751ac   드라마&영화   15.202162
17367  T1  2403751ac       보도    6.921495
17368  T1  2403751ac      스포츠   18.796162
17369  T1  2403751ac  어린이(유아)    3.692987
17370  T1  2403751ac       오락   32.130257
17371  T1  2403751ac       정보   23.256935
17372  T1  2403751ad       교육    1.010831
17373  T1  2403751ad   드라마&영화   47.762374
17374  T1  2403751ad       보도    6.145913
17375  T1  2403751ad      스포츠    2.019801
17376  T1  2403751ad  어린이(유아)    7.859364
17377  T1  2403751ad       오락   23.366004
17378  T1  2403751ad       정보   11.835712
17379  T1  2403751ae  어린이(유아)  100.000000

[17380 rows x 4 columns]

In [14]:
# pivotting
# 1기
t_genre_01_pivot = t_genre_01.pivot_table(index=['기간', 'ID'], columns='대분류', values='prop')
t_genre_01_pivot = t_genre_01_pivot.reset_index()
# 2기
t_genre_02_pivot = t_genre_02.pivot_table(index=['기간', 'ID'], columns='대분류', values='prop')
t_genre_02_pivot = t_genre_02_pivot.reset_index()
# 3기
t_genre_03_pivot = t_genre_03.pivot_table(index=['기간', 'ID'], columns='대분류', values='prop')
t_genre_03_pivot = t_genre_03_pivot.reset_index()
# 4기
t_genre_04_pivot = t_genre_04.pivot_table(index=['기간', 'ID'], columns='대분류', values='prop')
t_genre_04_pivot = t_genre_04_pivot.reset_index()

##### 4. 이제 다 합쳐보자.

In [15]:
genre_fin = pd.concat([t_genre_01_pivot, t_genre_02_pivot, t_genre_03_pivot, t_genre_04_pivot])

In [16]:
genre_fin

대분류,기간,ID,교육,기타,드라마&영화,보도,스포츠,어린이(유아),오락,정보
0,T1,1401639aa,0.642313,0.211127,34.743914,12.592368,8.714670,2.021134,26.720549,14.353925
1,T1,1401639ab,NaN,0.197269,40.566112,13.831851,2.436526,2.143910,28.722126,12.102206
2,T1,1401643aa,NaN,NaN,31.015264,13.294794,4.468913,NaN,40.259309,10.961720
3,T1,1401646aa,0.613905,NaN,21.401559,13.906372,4.980409,NaN,34.125175,24.972581
4,T1,1401646ab,0.613905,NaN,21.401559,13.906372,4.980409,NaN,34.125175,24.972581
5,T1,1401687aa,NaN,NaN,22.853997,7.928750,4.554610,13.956932,40.759767,9.945945
6,T1,1401687ab,NaN,NaN,30.814519,9.151612,1.436859,0.910539,47.719857,9.966614
7,T1,1401687ad,NaN,NaN,27.638109,4.081019,5.946800,NaN,61.252211,1.081861
8,T1,1401687ae,NaN,NaN,24.484701,3.360975,NaN,1.432743,70.037772,0.683809
9,T1,1401694aa,NaN,NaN,21.574655,18.161857,NaN,0.537731,46.743144,12.982613
10,T1,1401694ab,NaN,NaN,14.748311,0.480075,67.750948,NaN,16.460579,0.560088
11,T1,1401699aa,NaN,NaN,41.492599,39.161539,NaN,NaN,15.011919,4.333943
12,T1,1401700aa,NaN,NaN,36.862114,8.145684,NaN,NaN,44.165814,10.826388
13,T1,1401700ab,0.513804,NaN,13.737950,30.096401,NaN,NaN,37.885732,17.766113
14,T1,1401700ac,NaN,NaN,35.608814,16.410815,NaN,7.898605,39.190247,0.891519
15,T1,1401704aa,NaN,NaN,25.830124,10.666164,NaN,NaN,51.356507,12.147205
16,T1,1401704ab,NaN,NaN,NaN,32.130635,NaN,NaN,28.502982,39.366383
17,T1,1401710aa,NaN,NaN,16.797305,9.333127,NaN,7.033537,60.999923,5.836109
18,T1,1401710ab,0.438523,NaN,21.878811,12.415416,NaN,5.603722,43.258843,16.404685
19,T1,1401710ac,NaN,NaN,27.635478,6.366180,NaN,11.226816,41.790488,12.981038
20,T1,1401710ad,0.881875,NaN,23.168210,7.408903,NaN,24.994470,34.344075,9.202466
21,T1,1401714aa,NaN,NaN,13.253012,14.457831,NaN,NaN,NaN,72.289157
22,T1,1401714ab,NaN,NaN,58.214973,16.494090,5.498030,NaN,19.792908,NaN
23,T1,1401714ac,NaN,NaN,37.500000,NaN,NaN,NaN,31.250000,31.250000
24,T1,1401718aa,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,NaN
25,T1,1401718ab,NaN,NaN,10.063557,47.544402,0.203796,11.027583,17.001407,14.159256
26,T1,1401718ac,NaN,NaN,22.728050,NaN,NaN,77.271950,NaN,NaN
27,T1,1401718ad,NaN,NaN,NaN,NaN,NaN,100.000000,NaN,NaN
28,T1,1401719aa,0.699782,NaN,14.070729,23.109585,13.930408,0.240550,36.331828,11.617117
29,T1,1401719ab,0.402556,NaN,11.884005,24.750709,0.830272,0.792533,41.070800,20.269126
...,...,...,...,...,...,...,...,...,...,...
3852,T4,2404314aa,NaN,NaN,22.821519,6.489328,NaN,NaN,40.888035,29.801118
3853,T4,2404314ab,NaN,NaN,12.601914,24.912919,NaN,NaN,21.044976,41.440191
3854,T4,2404316ab,NaN,NaN,1.633419,19.767660,NaN,2.816240,75.782680,NaN
3855,T4,2404317aa,NaN,NaN,9.729810,42.417515,13.947712,NaN,17.058940,16.846023
3856,T4,2404319aa,0.460387,NaN,13.349984,51.599395,NaN,NaN,22.398052,12.192182
3857,T4,2404319ab,2.126774,NaN,42.465164,25.143866,NaN,NaN,4.046898,26.217298
3858,T4,2404322aa,NaN,NaN,40.815528,5.755638,NaN,NaN,36.496439,16.932395
3859,T4,2404322ab,NaN,NaN,45.862562,3.741695,NaN,NaN,35.766472,14.629272
3860,T4,2404323aa,NaN,NaN,1.569762,62.901893,11.151508,NaN,18.415695,5.961141
3861,T4,2404323ab,NaN,NaN,36.139658,12.889442,NaN,NaN,44.642471,6.328429
3862,T4,2404324aa,NaN,NaN,22.862075,21.589284,NaN,1.198705,38.085184,16.264752
3863,T4,2404324ab,NaN,NaN,31.441190,21.429810,NaN,1.219393,30.102721,15.806887
3864,T4,2404325aa,NaN,0.693440,35.603963,24.477724,3.439692,0.183530,22.520144,13.081507
3865,T4,2404325ab,NaN,0.336203,44.759512,19.167397,3.263232,0.234162,18.137554,14.101940
3866,T4,2404326aa,NaN,0.720532,42.109451,4.854765,NaN,6.860680,36.230605,9.223967
3867,T4,2404326ab,NaN,NaN,50.491953,3.854733,NaN,5.433296,30.598138,9.621880
3868,T4,2404329aa,NaN,0.127341,59.420407,8.537995,12.068610,NaN,8.690032,11.155616
3869,T4,2404329ab,NaN,0.172952,46.573447,8.709985,14.261493,0.223528,13.424509,16.634085
3870,T4,2404331aa,NaN,NaN,6.896930,58.788296,13.077002,NaN,12.596655,8.641117
3871,T4,2404332aa,NaN,NaN,29.037716,14.098287,NaN,NaN,39.086213,17.777784
3872,T4,2404332ab,NaN,NaN,64.134613,14.631928,NaN,NaN,4.483173,16.750286
3873,T4,2404333aa,NaN,NaN,12.570433,21.650964,NaN,60.283795,5.494808,NaN
3874,T4,2404333ab,NaN,NaN,12.449843,23.515963,NaN,58.531894,5.502300,NaN
3875,T4,2404334aa,NaN,NaN,14.811988,67.614498,NaN,NaN,13.785956,3.787558
3876,T4,2404334ab,NaN,NaN,32.005762,43.531236,0.257381,NaN,22.198522,2.007100
3877,T4,2404337aa,NaN,NaN,6.340033,36.616924,NaN,NaN,21.737255,35.305788
3878,T4,2404337ab,NaN,0.696165,30.364395,27.755141,NaN,NaN,28.338009,12.846291
3879,T4,2404342aa,NaN,NaN,16.488144,NaN,9.273096,NaN,66.390964,7.847795
3880,T4,2404345aa,NaN,NaN,9.190446,29.046349,35.649855,NaN,18.494355,7.618994
3881,T4,2404345ab,NaN,NaN,2.562028,35.336884,36.276294,NaN,14.857515,10.967278

# 개인 ID 당 채널 비율

#### 개인 ID당 채널 비율 => 상위 6개, 6개 비율의 총합은 100%가 아니다.
##### 1. 지상파 4사, 종편 2사인 걸 감안하고 만들어본다. 
##### 2. 유사하게 하되, 상위  채널이 무엇인지 알아본다.

In [17]:
# 전체 데이타프레임에서 상위 6개 채널 것만 쪼개서 사용해보자. 
kbs2 = tidy_fin[tidy_fin['방송사'] == ' KBS2']
jtbc = tidy_fin[tidy_fin['방송사'] == ' JTBC']
kbs1 = tidy_fin[tidy_fin['방송사'] == ' KBS1']
mbc = tidy_fin[tidy_fin['방송사'] == ' MBC']
sbs = tidy_fin[tidy_fin['방송사'] == ' SBS']
mbn = tidy_fin[tidy_fin['방송사'] == ' MBN']

frames = [kbs2, jtbc, kbs1, mbc, sbs, mbn]
top_ch = pd.concat(frames)
top_ch = top_ch[top_ch['WorN'] == True]

In [18]:
# 여기서 다시 한 번 기간별로 나눠보자.
tc1 = top_ch[top_ch['기간'] == 'T1']
tc2 = top_ch[top_ch['기간'] == 'T2']
tc3 = top_ch[top_ch['기간'] == 'T3']
tc4 = top_ch[top_ch['기간'] == 'T4']

##### 3. 그 다음엔 ID와 채널을 기준으로 그룹바이 펑션을 사용해본다.

In [19]:
# 1기
t_channel_1 = tc1.groupby(['기간', 'ID', '방송사'])['프로그램시청시간'].sum().reset_index(name='채널시청')
# 2기
t_channel_2 = tc2.groupby(['기간', 'ID', '방송사'])['프로그램시청시간'].sum().reset_index(name='채널시청')
# 3기
t_channel_3 = tc3.groupby(['기간', 'ID', '방송사'])['프로그램시청시간'].sum().reset_index(name='채널시청')
# 4기
t_channel_4 = tc4.groupby(['기간', 'ID', '방송사'])['프로그램시청시간'].sum().reset_index(name='채널시청')

In [20]:
t_channel_1

       기간         ID    방송사   채널시청
0      T1  1401639aa   JTBC   7740
1      T1  1401639aa   KBS1  19938
2      T1  1401639aa   KBS2  34403
3      T1  1401639aa    MBC  37759
4      T1  1401639aa    MBN  22607
5      T1  1401639aa    SBS  45989
6      T1  1401639ab   JTBC   8100
7      T1  1401639ab   KBS1  15593
8      T1  1401639ab   KBS2  40987
9      T1  1401639ab    MBC  83320
10     T1  1401639ab    MBN   3060
11     T1  1401639ab    SBS  71186
12     T1  1401643aa   JTBC   2460
13     T1  1401643aa   KBS1   5439
14     T1  1401643aa   KBS2   2700
15     T1  1401643aa    MBC  36764
16     T1  1401643aa    MBN  22862
17     T1  1401643aa    SBS  65236
18     T1  1401646aa   KBS1  51779
19     T1  1401646aa   KBS2  38523
20     T1  1401646aa    MBC  57642
21     T1  1401646aa    SBS  62984
22     T1  1401646ab   KBS1  51779
23     T1  1401646ab   KBS2  38523
24     T1  1401646ab    MBC  57642
25     T1  1401646ab    SBS  62984
26     T1  1401687aa   JTBC   4920
27     T1  1401687aa   KBS1   6420
28     T1  1401687aa   KBS2  24878
29     T1  1401687aa    MBC  17994
...    ..        ...    ...    ...
16150  T1  2403749aa    MBC  24511
16151  T1  2403749aa    MBN   2700
16152  T1  2403749aa    SBS  16952
16153  T1  2403749ab   KBS1  21324
16154  T1  2403749ab   KBS2  36544
16155  T1  2403749ab    MBC  36465
16156  T1  2403749ab    MBN   2700
16157  T1  2403749ab    SBS  36632
16158  T1  2403751aa   KBS1   6083
16159  T1  2403751aa   KBS2  17679
16160  T1  2403751aa    MBC  26029
16161  T1  2403751aa    MBN  14143
16162  T1  2403751aa    SBS  12779
16163  T1  2403751ab   JTBC    720
16164  T1  2403751ab   KBS1   5303
16165  T1  2403751ab   KBS2  35345
16166  T1  2403751ab    MBC  15261
16167  T1  2403751ab    SBS  11280
16168  T1  2403751ac   JTBC  12017
16169  T1  2403751ac   KBS1   3683
16170  T1  2403751ac   KBS2  53048
16171  T1  2403751ac    MBC  32103
16172  T1  2403751ac    MBN   3480
16173  T1  2403751ac    SBS   3480
16174  T1  2403751ad   JTBC  10250
16175  T1  2403751ad   KBS1  16813
16176  T1  2403751ad   KBS2  61102
16177  T1  2403751ad    MBC  51192
16178  T1  2403751ad    MBN  13197
16179  T1  2403751ad    SBS  31559

[16180 rows x 4 columns]

##### 4. ID의 기간별 시청 총합은 미리 구해놓은 것이 있으니 다음 단계로
merge를 진행하되, total 시청시간 데이터는 tidy_fin 중 시청했다고 볼 수 있는 것 전체로 (시청시간 > 600) 붙여준다.

In [21]:
# 1기
top_c1 = t_channel_1.merge(t_sum_1)
top_c1['prop'] = top_c1['채널시청'] / top_c1['totv'] * 100
top_c1 = top_c1.drop(['채널시청', 'totv'], axis=1)

# 2기
top_c2 = t_channel_2.merge(t_sum_2)
top_c2['prop'] = top_c2['채널시청'] / top_c2['totv'] * 100
top_c2 = top_c2.drop(['채널시청', 'totv'], axis=1)

# 3기
top_c3 = t_channel_3.merge(t_sum_3)
top_c3['prop'] = top_c3['채널시청'] / top_c3['totv'] * 100
top_c3 = top_c3.drop(['채널시청', 'totv'], axis=1)

# 4기
top_c4 = t_channel_4.merge(t_sum_4)
top_c4['prop'] = top_c4['채널시청'] / top_c4['totv'] * 100
top_c4 = top_c4.drop(['채널시청', 'totv'], axis=1)

In [22]:
top_c1

       기간         ID    방송사       prop
0      T1  1401639aa   JTBC   2.095029
1      T1  1401639aa   KBS1   5.396729
2      T1  1401639aa   KBS2   9.312051
3      T1  1401639aa    MBC  10.220438
4      T1  1401639aa    MBN   6.119162
5      T1  1401639aa    SBS  12.448098
6      T1  1401639ab   JTBC   2.048564
7      T1  1401639ab   KBS1   3.943611
8      T1  1401639ab   KBS2  10.365985
9      T1  1401639ab    MBC  21.072385
10     T1  1401639ab    MBN   0.773902
11     T1  1401639ab    SBS  18.003586
12     T1  1401643aa   JTBC   1.457061
13     T1  1401643aa   KBS1   3.221527
14     T1  1401643aa   KBS2   1.599213
15     T1  1401643aa    MBC  21.775364
16     T1  1401643aa    MBN  13.541192
17     T1  1401643aa    SBS  38.639366
18     T1  1401646aa   KBS1  23.563650
19     T1  1401646aa   KBS2  17.531093
20     T1  1401646aa    MBC  26.231791
21     T1  1401646aa    SBS  28.662835
22     T1  1401646ab   KBS1  23.563650
23     T1  1401646ab   KBS2  17.531093
24     T1  1401646ab    MBC  26.231791
25     T1  1401646ab    SBS  28.662835
26     T1  1401687aa   JTBC   1.887524
27     T1  1401687aa   KBS1   2.462988
28     T1  1401687aa   KBS2   9.544270
29     T1  1401687aa    MBC   6.903272
...    ..        ...    ...        ...
16150  T1  2403749aa    MBC  20.384724
16151  T1  2403749aa    MBN   2.245472
16152  T1  2403749aa    SBS  14.098235
16153  T1  2403749ab   KBS1  11.158264
16154  T1  2403749ab   KBS2  19.122472
16155  T1  2403749ab    MBC  19.081133
16156  T1  2403749ab    MBN   1.412836
16157  T1  2403749ab    SBS  19.168520
16158  T1  2403751aa   KBS1   4.301159
16159  T1  2403751aa   KBS2  12.500442
16160  T1  2403751aa    MBC  18.404548
16161  T1  2403751aa    MBN  10.000212
16162  T1  2403751aa    SBS   9.035757
16163  T1  2403751ab   JTBC   0.368004
16164  T1  2403751ab   KBS1   2.710452
16165  T1  2403751ab   KBS2  18.065423
16166  T1  2403751ab    MBC   7.800153
16167  T1  2403751ab    SBS   5.765397
16168  T1  2403751ac   JTBC   7.625194
16169  T1  2403751ac   KBS1   2.336988
16170  T1  2403751ac   KBS2  33.660753
16171  T1  2403751ac    MBC  20.370441
16172  T1  2403751ac    MBN   2.208178
16173  T1  2403751ac    SBS   2.208178
16174  T1  2403751ad   JTBC   3.178226
16175  T1  2403751ad   KBS1   5.213220
16176  T1  2403751ad   KBS2  18.945945
16177  T1  2403751ad    MBC  15.873144
16178  T1  2403751ad    MBN   4.092004
16179  T1  2403751ad    SBS   9.785524

[16180 rows x 4 columns]

In [23]:
# 이제 pivotting을 진행한다.
# 1기
top_c1_pivot = top_c1.pivot_table(index=['기간', 'ID'], columns='방송사', values='prop')
top_c1_pivot = top_c1_pivot.reset_index()
# 2기
top_c2_pivot = top_c2.pivot_table(index=['기간', 'ID'], columns='방송사', values='prop')
top_c2_pivot = top_c2_pivot.reset_index()
# 3기
top_c3_pivot = top_c3.pivot_table(index=['기간', 'ID'], columns='방송사', values='prop')
top_c3_pivot = top_c3_pivot.reset_index()
# 4기
top_c4_pivot = top_c4.pivot_table(index=['기간', 'ID'], columns='방송사', values='prop')
top_c4_pivot = top_c4_pivot.reset_index()

##### 5. 다 합친다

In [24]:
channel_fin = pd.concat([top_c1_pivot, top_c2_pivot, top_c3_pivot, top_c4_pivot])

In [25]:
channel_fin

방송사,기간,ID,JTBC,KBS1,KBS2,MBC,MBN,SBS
0,T1,1401639aa,2.095029,5.396729,9.312051,10.220438,6.119162,12.448098
1,T1,1401639ab,2.048564,3.943611,10.365985,21.072385,0.773902,18.003586
2,T1,1401643aa,1.457061,3.221527,1.599213,21.775364,13.541192,38.639366
3,T1,1401646aa,NaN,23.563650,17.531093,26.231791,NaN,28.662835
4,T1,1401646ab,NaN,23.563650,17.531093,26.231791,NaN,28.662835
5,T1,1401687aa,1.887524,2.462988,9.544270,6.903272,3.247154,16.752922
6,T1,1401687ab,1.696915,2.524678,12.052922,12.588209,4.036725,17.938318
7,T1,1401687ad,NaN,3.915306,6.714406,14.233338,NaN,9.376127
8,T1,1401687ae,NaN,2.474737,10.233255,8.996429,0.781496,6.479904
9,T1,1401694aa,2.265639,6.229611,4.624485,11.933142,1.774512,14.610145
10,T1,1401694ab,NaN,NaN,NaN,0.560088,NaN,NaN
11,T1,1401699aa,7.315816,0.199568,2.029769,2.511226,1.411109,0.997838
12,T1,1401700aa,NaN,NaN,28.645757,32.144076,NaN,33.580689
13,T1,1401700ab,NaN,7.994751,14.978045,31.646899,NaN,27.007520
14,T1,1401700ac,23.934968,1.049491,10.272575,18.867428,NaN,NaN
15,T1,1401704aa,NaN,24.838714,1.749547,NaN,NaN,1.895343
16,T1,1401704ab,NaN,85.846289,NaN,NaN,14.153711,NaN
17,T1,1401710aa,6.087832,4.145302,21.857331,17.904887,NaN,29.608861
18,T1,1401710ab,4.048568,5.420088,30.173927,14.565948,NaN,25.877644
19,T1,1401710ac,2.921977,5.910268,26.414879,5.687494,NaN,33.076365
20,T1,1401710ad,2.711982,6.985757,21.670850,5.278747,NaN,24.525163
21,T1,1401714aa,NaN,13.253012,NaN,66.265060,NaN,NaN
22,T1,1401714ab,NaN,NaN,NaN,51.617337,NaN,19.792908
23,T1,1401714ac,NaN,NaN,NaN,37.500000,NaN,NaN
24,T1,1401718ab,4.785590,1.280554,3.440978,11.149735,10.721732,4.771146
25,T1,1401719aa,4.023749,4.145482,7.522661,19.406205,3.891082,12.339497
26,T1,1401719ab,4.906154,3.656133,11.009074,25.478874,1.824083,16.094911
27,T1,1401719ac,5.244969,3.025117,12.962778,26.029270,1.066773,11.941194
28,T1,1401719ad,7.927547,NaN,11.513361,22.965063,0.768732,16.417630
29,T1,1401721aa,2.836496,53.202733,20.571560,5.407531,5.228099,4.227706
...,...,...,...,...,...,...,...,...
3729,T4,2404314aa,5.034465,2.262735,4.550435,14.191504,9.519021,10.475292
3730,T4,2404314ab,1.263158,11.023923,12.355024,11.369378,14.876555,4.638278
3731,T4,2404316ab,10.701713,NaN,NaN,13.360713,NaN,23.794884
3732,T4,2404317aa,1.237889,35.339264,4.109793,2.129170,22.598082,1.683529
3733,T4,2404319aa,10.102422,7.299093,6.154028,12.142167,13.632368,7.510648
3734,T4,2404319ab,NaN,17.835053,16.718568,28.942497,NaN,19.541352
3735,T4,2404322aa,NaN,NaN,23.487914,11.184849,1.618647,8.500594
3736,T4,2404322ab,NaN,NaN,23.047092,2.615348,1.588268,16.401514
3737,T4,2404323aa,2.974317,1.686687,0.715511,1.156453,11.958349,NaN
3738,T4,2404323ab,NaN,5.938987,5.354825,35.782670,15.044894,1.784942
3739,T4,2404324aa,6.057979,2.155150,3.850969,12.393780,2.089214,37.536209
3740,T4,2404324ab,6.162530,8.917092,3.917431,13.376391,2.125270,33.075085
3741,T4,2404325aa,NaN,20.679756,20.181173,21.396541,1.123372,26.010226
3742,T4,2404325ab,NaN,21.010024,22.135124,17.708748,2.538037,25.904135
3743,T4,2404326aa,NaN,15.261678,25.688557,4.961543,1.718859,28.976382
3744,T4,2404326ab,NaN,15.262546,28.725433,1.794267,NaN,32.614483
3745,T4,2404329aa,NaN,22.651579,4.563038,NaN,0.173646,NaN
3746,T4,2404329ab,NaN,35.873200,7.465776,NaN,0.235844,NaN
3747,T4,2404331aa,14.567834,NaN,NaN,NaN,10.952053,5.111007
3748,T4,2404332aa,NaN,NaN,28.614038,33.124225,NaN,38.261737
3749,T4,2404332ab,NaN,NaN,14.670070,19.652026,NaN,65.677904
3750,T4,2404333aa,NaN,10.118515,3.972216,NaN,9.586686,8.143411
3751,T4,2404333ab,NaN,11.950344,3.977633,NaN,9.599758,8.034230
3752,T4,2404334aa,21.010581,0.791430,4.149354,5.426948,3.260880,7.634472
3753,T4,2404334ab,23.986808,0.873679,5.527395,3.305811,8.511283,8.028005
3754,T4,2404337aa,13.068231,12.145260,2.070215,8.410248,2.975934,19.925817
3755,T4,2404337ab,18.182190,3.977695,9.931271,7.043551,13.390938,11.711952
3756,T4,2404342aa,NaN,NaN,NaN,NaN,3.757612,NaN
3757,T4,2404345aa,5.105804,6.807738,1.701935,3.630794,NaN,9.644296
3758,T4,2404345ab,7.550117,7.234358,2.359763,6.270227,4.072276,7.281553

In [26]:
df_fin = genre_fin.merge(channel_fin)

In [27]:
df_fin

,기간,ID,교육,기타,드라마&영화,보도,스포츠,어린이(유아),오락,정보,JTBC,KBS1,KBS2,MBC,MBN,SBS
0,T1,1401639aa,0.642313,0.211127,34.743914,12.592368,8.714670,2.021134,26.720549,14.353925,2.095029,5.396729,9.312051,10.220438,6.119162,12.448098
1,T1,1401639ab,NaN,0.197269,40.566112,13.831851,2.436526,2.143910,28.722126,12.102206,2.048564,3.943611,10.365985,21.072385,0.773902,18.003586
2,T1,1401643aa,NaN,NaN,31.015264,13.294794,4.468913,NaN,40.259309,10.961720,1.457061,3.221527,1.599213,21.775364,13.541192,38.639366
3,T1,1401646aa,0.613905,NaN,21.401559,13.906372,4.980409,NaN,34.125175,24.972581,NaN,23.563650,17.531093,26.231791,NaN,28.662835
4,T1,1401646ab,0.613905,NaN,21.401559,13.906372,4.980409,NaN,34.125175,24.972581,NaN,23.563650,17.531093,26.231791,NaN,28.662835
5,T1,1401687aa,NaN,NaN,22.853997,7.928750,4.554610,13.956932,40.759767,9.945945,1.887524,2.462988,9.544270,6.903272,3.247154,16.752922
6,T1,1401687ab,NaN,NaN,30.814519,9.151612,1.436859,0.910539,47.719857,9.966614,1.696915,2.524678,12.052922,12.588209,4.036725,17.938318
7,T1,1401687ad,NaN,NaN,27.638109,4.081019,5.946800,NaN,61.252211,1.081861,NaN,3.915306,6.714406,14.233338,NaN,9.376127
8,T1,1401687ae,NaN,NaN,24.484701,3.360975,NaN,1.432743,70.037772,0.683809,NaN,2.474737,10.233255,8.996429,0.781496,6.479904
9,T1,1401694aa,NaN,NaN,21.574655,18.161857,NaN,0.537731,46.743144,12.982613,2.265639,6.229611,4.624485,11.933142,1.774512,14.610145
10,T1,1401694ab,NaN,NaN,14.748311,0.480075,67.750948,NaN,16.460579,0.560088,NaN,NaN,NaN,0.560088,NaN,NaN
11,T1,1401699aa,NaN,NaN,41.492599,39.161539,NaN,NaN,15.011919,4.333943,7.315816,0.199568,2.029769,2.511226,1.411109,0.997838
12,T1,1401700aa,NaN,NaN,36.862114,8.145684,NaN,NaN,44.165814,10.826388,NaN,NaN,28.645757,32.144076,NaN,33.580689
13,T1,1401700ab,0.513804,NaN,13.737950,30.096401,NaN,NaN,37.885732,17.766113,NaN,7.994751,14.978045,31.646899,NaN,27.007520
14,T1,1401700ac,NaN,NaN,35.608814,16.410815,NaN,7.898605,39.190247,0.891519,23.934968,1.049491,10.272575,18.867428,NaN,NaN
15,T1,1401704aa,NaN,NaN,25.830124,10.666164,NaN,NaN,51.356507,12.147205,NaN,24.838714,1.749547,NaN,NaN,1.895343
16,T1,1401704ab,NaN,NaN,NaN,32.130635,NaN,NaN,28.502982,39.366383,NaN,85.846289,NaN,NaN,14.153711,NaN
17,T1,1401710aa,NaN,NaN,16.797305,9.333127,NaN,7.033537,60.999923,5.836109,6.087832,4.145302,21.857331,17.904887,NaN,29.608861
18,T1,1401710ab,0.438523,NaN,21.878811,12.415416,NaN,5.603722,43.258843,16.404685,4.048568,5.420088,30.173927,14.565948,NaN,25.877644
19,T1,1401710ac,NaN,NaN,27.635478,6.366180,NaN,11.226816,41.790488,12.981038,2.921977,5.910268,26.414879,5.687494,NaN,33.076365
20,T1,1401710ad,0.881875,NaN,23.168210,7.408903,NaN,24.994470,34.344075,9.202466,2.711982,6.985757,21.670850,5.278747,NaN,24.525163
21,T1,1401714aa,NaN,NaN,13.253012,14.457831,NaN,NaN,NaN,72.289157,NaN,13.253012,NaN,66.265060,NaN,NaN
22,T1,1401714ab,NaN,NaN,58.214973,16.494090,5.498030,NaN,19.792908,NaN,NaN,NaN,NaN,51.617337,NaN,19.792908
23,T1,1401714ac,NaN,NaN,37.500000,NaN,NaN,NaN,31.250000,31.250000,NaN,NaN,NaN,37.500000,NaN,NaN
24,T1,1401718ab,NaN,NaN,10.063557,47.544402,0.203796,11.027583,17.001407,14.159256,4.785590,1.280554,3.440978,11.149735,10.721732,4.771146
25,T1,1401719aa,0.699782,NaN,14.070729,23.109585,13.930408,0.240550,36.331828,11.617117,4.023749,4.145482,7.522661,19.406205,3.891082,12.339497
26,T1,1401719ab,0.402556,NaN,11.884005,24.750709,0.830272,0.792533,41.070800,20.269126,4.906154,3.656133,11.009074,25.478874,1.824083,16.094911
27,T1,1401719ac,NaN,0.288918,13.876573,18.688906,0.555611,1.177896,49.000456,16.411641,5.244969,3.025117,12.962778,26.029270,1.066773,11.941194
28,T1,1401719ad,NaN,0.312297,14.945428,16.049679,0.528503,0.480457,50.288274,17.395360,7.927547,NaN,11.513361,22.965063,0.768732,16.417630
29,T1,1401721aa,NaN,NaN,20.718218,20.060302,NaN,NaN,25.045882,34.175597,2.836496,53.202733,20.571560,5.407531,5.228099,4.227706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15189,T4,2404314aa,NaN,NaN,22.821519,6.489328,NaN,NaN,40.888035,29.801118,5.034465,2.262735,4.550435,14.191504,9.519021,10.475292
15190,T4,2404314ab,NaN,NaN,12.601914,24.912919,NaN,NaN,21.044976,41.440191,1.263158,11.023923,12.355024,11.369378,14.876555,4.638278
15191,T4,2404316ab,NaN,NaN,1.633419,19.767660,NaN,2.816240,75.782680,NaN,10.701713,NaN,NaN,13.360713,NaN,23.794884
15192,T4,2404317aa,NaN,NaN,9.729810,42.417515,13.947712,NaN,17.058940,16.846023,1.237889,35.339264,4.109793,2.129170,22.598082,1.683529
15193,T4,2404319aa,0.460387,NaN,13.349984,51.599395,NaN,NaN,22.398052,12.192182,10.102422,7.299093,6.154028,12.142167,13.632368,7.510648
15194,T4,2404319ab,2.126774,NaN,42.465164,25.143866,NaN,NaN,4.046898,26.217298,NaN,17.835053,16.718568,28.942497,NaN,19.541352
15195,T4,2404322aa,NaN,NaN,40.815528,5.755638,NaN,NaN,36.496439,16.932395,NaN,NaN,23.487914,11.184849,1.618647,8.500594
15196,T4,2404322ab,NaN,NaN,45.862562,3.741695,NaN,NaN,35.766472,14.629272,NaN,NaN,23.047092,2.615348,1.588268,16.401514
15197,T4,2404323aa,NaN,NaN,1.569762,62.901893,11.151508,NaN,18.415695,5.961141,2.974317,1.686687,0.715511,1.156453,11.958349,NaN
15198,T4,2404323ab,NaN,NaN,36.139658,12.889442,NaN,NaN,44.642471,6.328429,NaN,5.938987,5.354825,35.782670,15.044894,1.784942
15199,T4,2404324aa,NaN,NaN,22.862075,21.589284,NaN,1.198705,38.085184,16.264752,6.057979,2.155150,3.850969,12.393780,2.089214,37.536209
15200,T4,2404324ab,NaN,NaN,31.441190,21.429810,NaN,1.219393,30.102721,15.806887,6.162530,8.917092,3.917431,13.376391,2.125270,33.075085
15201,T4,2404325aa,NaN,0.693440,35.603963,24.477724,3.439692,0.183530,22.520144,13.081507,NaN,20.679756,20.181173,21.396541,1.123372,26.010226
15202,T4,2404325ab,NaN,0.336203,44.759512,19.167397,3.263232,0.234162,18.137554,14.101940,NaN,21.010024,22.135124,17.708748,2.538037,25.904135
15203,T4,2404326aa,NaN,0.720532,42.109451,4.854765,NaN,6.860680,36.230605,9.223967,NaN,15.261678,25.688557,4.961543,1.718859,28.976382
15204,T4,2404326ab,NaN,NaN,50.491953,3.854733,NaN,5.433296,30.598138,9.621880,NaN,15.262546,28.725433,1.794267,NaN,32.614483
15205,T4,2404329aa,NaN,0.127341,59.420407,8.537995,12.068610,NaN,8.690032,11.155616,NaN,22.651579,4.563038,NaN,0.173646,NaN
15206,T4,2404329ab,NaN,0.172952,46.573447,8.709985,14.261493,0.223528,13.424509,16.634085,NaN,35.873200,7.465776,NaN,0.235844,NaN
15207,T4,2404331aa,NaN,NaN,6.896930,58.788296,13.077002,NaN,12.596655,8.641117,14.567834,NaN,NaN,NaN,10.952053,5.111007
15208,T4,2404332aa,NaN,NaN,29.037716,14.098287,NaN,NaN,39.086213,17.777784,NaN,NaN,28.614038,33.124225,NaN,38.261737
15209,T4,2404332ab,NaN,NaN,64.134613,14.631928,NaN,NaN,4.483173,16.750286,NaN,NaN,14.670070,19.652026,NaN,65.677904
15210,T4,2404333aa,NaN,NaN,12.570433,21.650964,NaN,60.283795,5.494808,NaN,NaN,10.118515,3.972216,NaN,9.586686,8.143411
15211,T4,2404333ab,NaN,NaN,12.449843,23.515963,NaN,58.531894,5.502300,NaN,NaN,11.950344,3.977633,NaN,9.599758,8.034230
15212,T4,2404334aa,NaN,NaN,14.811988,67.614498,NaN,NaN,13.785956,3.787558,21.010581,0.791430,4.149354,5.426948,3.260880,7.634472
15213,T4,2404334ab,NaN,NaN,32.005762,43.531236,0.257381,NaN,22.198522,2.007100,23.986808,0.873679,5.527395,3.305811,8.511283,8.028005
15214,T4,2404337aa,NaN,NaN,6.340033,36.616924,NaN,NaN,21.737255,35.305788,13.068231,12.145260,2.070215,8.410248,2.975934,19.925817
15215,T4,2404337ab,NaN,0.696165,30.364395,27.755141,NaN,NaN,28.338009,12.846291,18.182190,3.977695,9.931271,7.043551,13.390938,11.711952
15216,T4,2404342aa,NaN,NaN,16.488144,NaN,9.273096,NaN,66.390964,7.847795,NaN,NaN,NaN,NaN,3.757612,NaN
15217,T4,2404345aa,NaN,NaN,9.190446,29.046349,35.649855,NaN,18.494355,7.618994,5.105804,6.807738,1.701935,3.630794,NaN,9.644296
15218,T4,2404345ab,NaN,NaN,2.562028,35.336884,36.276294,NaN,14.857515,10.967278,7.550117,7.234358,2.359763,6.270227,4.072276,7.281553

In [28]:
# 파일로 출력
df_fin.to_csv('df_fin.csv')

In [ ]:
# 개인 ID당 장르별 비율, 채널 퍼센티지 (현훈)
# 지상파 4사, JTBC, MBN
# 60초는 다 뺀다. 
# 기간은 2주 단위로 진행한다. 
# 장르별 시청 여부는 정우가 타이틀을 준다.